<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <ul class="header__nav">
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        <img src="../images/logo.svg" alt="Логотип codeunion">
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        Главная
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        Для чего?
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        Цены
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        Почему мы?
                    </a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-item-link" href="#">
                        Нам доверяют
                    </a>
                </li>
            </ul>
            <button class="header__popup main-button">
                Оставить заявку
            </button>
        </div>
    </div>
</header>