@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// HEADER

.header {
    position: fixed;
    font-family: "SF-Pro", sans-serif;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: inherit;
    }

    &__nav-item {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.15;
    }

    &__nav-item+&__nav-item {
        margin-left: 44px;
    }

    &__nav-item-link {}

    &__popup {}
}




// HEADER

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';